<h3>Project name: {{project.name}}</h3>

<mat-divider class="menu-divider"></mat-divider>
<div class="row">
  <div class="col-sm-4">
    <mat-form-field>
      <mat-select placeholder="Sprint" (selectionChange)="onSprintChange($event.value)">
        <mat-option *ngFor="let sprint of sprints" [value]="sprint.id">
          {{sprint.startDate | date:'mediumDate'}} - {{sprint.endDate | date:'mediumDate'}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-8 board-selector">
    <button mat-raised-button color="primary" class="card" (click)="onCardViewClick()">Card view</button>
    <button mat-raised-button color="accent" class="slim" (click)="onSlimViewClick()">Slim view</button>
  </div>
</div>
<app-card-view *ngIf="isCardViewSelected"
               [projectUsers]="projectUsers"
               [currentSprint]="currentSprint"
               [project]="project"
               [sprints]="sprints"
               [userStories]="userStories">
</app-card-view>
<app-slim-view *ngIf="!isCardViewSelected"
               [projectUsers]="projectUsers"
               [currentSprint]="currentSprint"
               [project]="project"
               [sprints]="sprints"
               [userStories]="userStories">
</app-slim-view>
